@import "./reset.css";
/* ------------------- */
/*   Header            */
/* ------------------- */


body {
    background-color: #f1f2f3;
}



.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* --------------------Map------------------------------- */

.map-main-box {
    display: grid;
    place-items: center;
    height:100vh ;
    width: 100%;

}

.text {
    height: 100px;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 22px;
    font-family: Madefor, Helvetica Neue, Helvetica, Arial, Hiragino Kaku Gothic Pro W3, Hiragino Kaku Gothic Pro, sans-serif !important;

}

.map-style {
    background-color: rgb(226, 220, 220);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

.mapboxgl-ctrl-logo {
    visibility: hidden;
}

/* ---------------------Loading box-------------------------- */

.laoding {
    display: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: rgb(226, 220, 220);
    animation: laod 1s ease-in-out infinite;
    -webkit-animation: load 1s ease-in-out infinite;
}

@keyframes load {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes load {
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* -------------------------- */
/* Media queries              */
/* -------------------------- */
/*  1280 px and down */
@media (max-width: 1681) {

    .btn {
        font-size: 11px;
    }
}

/*  768 px and down */
@media (max-width: 768px) {

    .column {
        width: calc(50% - 10px);
    }

    .btn {
        font-size: 10px;
    }

    nav ul li a {
        font-size: 14px;
    }

}

/*  480 px and down */
@media (max-width: 480px) {
    .column {
        width: 100%;
    }

    .title {
        font-size: 16px;
    }

    nav ul li a {
        font-size: 14px;
    }

}

@media (max-width: 360px) {

    nav ul li a {
        font-size: 12px;
    }


}
